<div class="skillsLayout">
  <section class="section">
    <div class="overall">
      <h1 class="title">
          My Skills & Offer
      </h1>
      <h2 class="subtitle">
          I am a <strong>
              full-stack javascript developer</strong>
              with over <strong> 7 years of experience.</strong>
      </h2>
      <article>
        <p>I have maintained, developed multiple projects from scratch,
              carrying the development of its' back-end and front-end codebases.
        </p>
        <p>
            My current toolset includes <span>Nodejs</span> & <span>Mongodb, React, Redux, Angular, TypeScript, HTML5, Sass,
            BEM Model, Less, Handlebars.js</span> and all the other various frameworks, libraries and technologies related to them.
        </p>
        <p>
            Feel free to ask me any questions. I can help you in your project in all from the UI mockups,
            back-end and front-end web development to fixing the design and installing & configuration
            of the application on staging/production enviroments.
        </p>
      </article>
    </div>
      <hr/>
      <div class="front-end">
          <h1 class="title">
              <i class="fa fa-edit" aria-hidden="true"></i>
              Front-end javaScript Development
          </h1>
          <article>
              <p>
              <strong>I specialise in applications written in both
              <span>React</span> or <span>Angular</span>.</strong>
              Recently, I became also a huge fan of one-way data flow and Redux-like architecture,
              and also typed languages like f.e. TypeScript.
              </p>
              <p>My current experience and skills in front-end include:</p>
              <p>
                  <ul>
                      <li>Senior software engineer TypeScript/JavaScript development: bootstraping or refactoring an existing app architecture, by improving its' extensibility and reliability;</li>
                      <li>full integration of front-end development using tools like
                          <a href="https://webpack.js.org/" rel="nofollow">Webpack</a>,
                          <a href="https://gulpjs.com/" rel="nofollow">Gulp</a> with features like automatic code reload, code minifications, multiple environments support,</li>
                      <li>good sense of design and UX, by having some small past experience in graphic design</li>
                      <li>knowledge and huge experience in many JS ecosystem, by using many libraries like React,
                          Redux, Redux-Observable, RxJS, Angular, jQuery, Lodash/Underscore and whatever else was needed.</li>
                  </ul>
              </p>
          </article>
      </div>
      <hr/>
      <div class="back-end">
          <h1 class="title">
              <i class="fa fa-code" aria-hidden="true"></i>
              Back-end javaScript Development
          </h1>
          <article>
              <p>
                  <strong>In back-end development, my current stack involves
                      <span>Nodejs (Expressjs) Framework</span>
                  </strong>, and alternatively <span>Python (Flask)</span>.
              </p>
              <p>
                  Nearly every app I have done in the past had the back-end
                  written also by me. In order to improve the development speed, performance and reliability,
              </p>
              <p>
                  Luckily, my experience and lessons I learned while doing all those apps,
                  will stay with me and be useful forever,
                  no matter what framework I will use in the next project.
              </p>
              <p>What I can do is:</p>
              <ul>
                  <li>contribute in development of web apps in Nodejs/Python</li>
                  <li>cooperation with APIs, remote data synchronizations, cloud servers.</li>
                  <li>using different types of databases (like Mongodb, MySQL, Redis)</li>
                  <li>dividing the servers into different machine nodes / docker containers; database sharding; load balancing</li>
                  <li>refactoring existing applications, by improving code readibility, separating concerns into separate functions and classes,
                      splitting out the business logic from app's views and controllers (DDD), and moving the app
                      architecture into more event-based one
                  </li>
                  <li>writing unit and e2e tests using Mocha, Chai, Protractor and Jasmine</li>
              </ul>
          </article>
      </div>
      <hr/>
      <article>
          <p>
              I always work alone. Of course If you already have an existing team for your project,
              but still need someone to help it, contact me. I’ll fit into your needs.
          </p>
      </article>
  </section>
</div>
